.loader {
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #ffd800;
  border-right-color: transparent;
  transform-origin: center;
  animation: spin 1s linear infinite;
  }
  

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }