
.movies-container{
  height:85%;
  overflow: auto;
  margin-bottom:50px;
  scrollbar-width: none;
  

}

.movies-list-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies-list-container{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:0px 20px;
    width: 85%
}


.movies-container h2{
  color: #fff;
}