
.search-input-container{
  margin:20px;
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;

}

.search-input-container input{
  width: 450px;
  height: 70px;
  font-size: 20px;
  outline: 0;
  border: 0;
  border-radius:40px;
  color:#07051a;
  box-sizing: border-box;
  padding:5px 20px;

}

