.movie-item-container {
  box-shadow:0 5px 30px rgba(0,0,0,.2);
  border-radius:10px;
  overflow:hidden;
  background-color: #fff;
  transform: scale(0.9);
  transition:all .3s;
  flex: 1 1 auto;
  height: 300px;
  width: 200px;
}


.movie-item-container:hover{
  transform: scale(1);
  box-shadow: 5px 5px 30px  rgba(255, 255, 255, 0.6)
}

.movie-item-container img{
  width:100%;
  height:220px;
}
.movie-item-container h3{
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-item-card-img{
  position:relative;
  padding-bottom:100%;
  overflow:hidden;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.movie-item-content{
  padding:0 5px;
  color:black;
}