.search-container {
    display: flex;
    height:100%;
    width:100%;
}

.search-container-wrapper{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;

    
}
.search-container-wrapper img{
    width:700px

}
.search-container-movies{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0e101e;
}
