
.movies-container{
    height:100%;
    color:white;
}
.movie-wrapper{
    display: flex;
}
.movie-container-center{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 0 auto;

}
.movie-container-center h2{
    color:#ffd800;
}
.movie-background-image{
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    filter: blur(6px);

}
.movie-background-image-wrapper {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-image-wrapper{

    position: absolute;
    box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.5);
}

.movie-image-wrapper img{
    width:400px;
    height:auto;
    
}

.movie-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0e101e;
    color:white;
    padding: 20px

}

.movie-content-container{
    margin:10px
}

.movie-details{
    height:85%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.movie-details-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.movie-details-item h3{
    font-weight: 600;
    color: #ffd800;
}
.movie-details-item k{
    line-height: 26px;
}
.movie-details-item-key{
    width:150px;
    margin-right:20px;
}
.movie-details-item-value{
    width:800px
}

.movie-ratings{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.movie-ratings-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-ratings-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.movie-ratings-header h3{
    
}

.movie-rating-item {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.movie-rating-value{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color:rgba(255, 216, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-rating-value p{
    font-size:20px;
    font-weight: 600;
}