body,
html,
#root {
  height: 100%;
  background: #31314e;
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;

}

::-webkit-scrollbar {
  width:10px;
  background-color:rgba(255, 216, 0, 1);
  
}
::-webkit-scrollbar:hover {
  width:10px;
  background-color:rgba(255, 216, 0, 0.2);
}

a{
text-decoration: none;
color: inherit;

}

.fullscreen{
  height:100%;
  width:100%;
}



